html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	color: black;
	overflow: hidden;
	text-align: center;
	margin: 0;
	padding: 0;
	cursor: none;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

#screen {
	position: absolute;
	background-color: black;
	width: 1920px;
	height: 1080px;
}

#house {
    position: relative;
    /* left: 50%; */
	/* width: 1080px;
	height: 1080px; */
    /* transform: translate(-50%, 0);     */
}

#portal {
    position: relative;
    /* left: 50%;
    transform: translate(-50%, 0);     */
}

#video {
	visibility: hidden;
}
