@font-face {
	font-family: 'Old Computer';
	src: url('./OldcomputerSt.ttf') format('truetype');
}

@font-face {
	font-family: 'Rick and Morty';
	src: url('./get_schwifty.ttf') format('truetype');
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #000;
	background-repeat: no-repeat;
	color: black;
	overflow: hidden;
	text-align: center;
	margin: 0;
	padding: 0;
	cursor: none;
	user-select: none;
	font-family: Arial, Helvetica, sans-serif;
}

#screen {
	position: absolute;
	background-color: black;
	width: 1920px;
	height: 1080px;
}

#app {
	display: block;
	position: absolute;
	width: 1080px;
	height: 1080px;
	left: 420px;
}

#house {
	display: block;
    position: absolute;
	width: 1080px;
	height: 1080px;
    /* left: 420px; */
	/* width: 1080px;
	height: 1080px; */
    /* transform: translate(-50%, 0);     */
}

#portal {
	display: block;
    position: absolute;
	width: 1080px;
	height: 1080px;
    /* left: 420px; */
	/* z-index: 1000; */
    /* transform: translate(-50%, 0);     */
}

#video {
	display: block;
	position: absolute;
	width: 1080px;
	height: 1080px;
    /* left: 420px; */
	visibility: hidden;
}